# ----------------------
# Node.js (frontend/backend)
# ----------------------
# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*


# ----------------------
# Spring / Java
# ----------------------
# Compilados
*.class
*.jar
*.war
*.ear

# Directorios de build
/target/
/out/
/build/

# Archivos de configuración del IDE
*.iml
.idea/
.vscode/

# Dependencias locales / caches
/.mvn/wrapper/maven-wrapper.jar
/.mvn/wrapper/maven-wrapper.properties
.mvn/timing.properties
.mvn/logs/

# Archivos temporales
*.log
hs_err_pid*

# ----------------------
# Python (bot)
# ----------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.venv
env/
venv/
ENV/

# ----------------------
# Sistema
# ----------------------
.DS_Store
Thumbs.db
